/* Default */

* {
	font-family: 'Open Sans', sans-serif, serif;
	font-weight: normal;
	/* Place padding, border, etc inside */
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
}

body {
	max-width: 100%;
	background: url(../img/bg.png) 0 0 no-repeat;
	background-position: center top;
 	background-color: #ecf0f1;
	color: #7f8c8d;
}

.news {
	text-align: center;
	display: inline-block;
	margin: 15px;
	padding: 0;
	width: 160px;
}

.news p {
	margin: 0;
}

.news img {
	border-radius: 6px;
	margin: auto;
	width: 150px;
}


.news .readmore {
	height: 30px;
	width: 60px;
}

/* Navigation Menu */
.menu {
	margin-top: 300px;
	height: 64px;
	width: 100%;
	border-radius: 6px;
	background-color: white;
	margin-bottom: 32px;
}

.menu .navigation {
	position: relative;
	display: inline;
	list-style: none;
	margin: 0;
}

.menu .navigation li {
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	/*margin: 16px 5px;*/
	padding: 21px 16px;
}

.menu .navigation li a {
	font-size: 16px;
	font-weight: bold;
	font-family: "Montserrat";
	color: black;
	border: 0;
}

/* Login Widget */
.widget {
	padding: 0;
	margin-bottom: 48px;
	height: 100%;
	background-color: white;
	text-align: center;
	border-radius: 6px;
}

.widget h3 {
	text-align: center;
	color: white;
	padding: 12px 0 12px 0;
	width: 100%;
	height: 48px;
	background-color: #37d078;
	border-radius: 6px 6px 0 0;
	margin: 0;
}

.widget input {
	width: 90%;
}

.widget input[type=submit] {
	width: 90%;
}

.widget ul {
	margin: 0;
	padding-left: 0;
	width: 100%;
}

.widget ul li {
	font-size: 18px;
	padding: 12px 0 12px 30px;
	text-align: left;
	list-style: none;
	width: 100%;
	height: 48px;
	background-color: white;
	text-transform: uppercase;
}

.widget ul li:last-child {
	border-radius: 0 0 6px 6px;
}

.widget ul li:before {
	margin-right: 20px;
}

.widget ul #dashboard:before {
	content: url(../img/icons/glyphicons_282_cardio.png);
}

.widget ul #characters:before {
	content: url(../img/icons/glyphicons_003_user.png);
}

.widget ul #mall:before {
	content: url(../img/icons/glyphicons_452_shop.png);
}

.widget ul #vote:before {
	content: url(../img/icons/glyphicons_343_thumbs_up.png);
}

.widget ul #logout:before {
	content: url(../img/icons/glyphicons_207_remove_2.png);
}

.widget ul #news_create:before {
	content:url(../img/icons/glyphicons_030_pencil.png);
}

.widget ul li a {
	color: black;
	font-size: 16px;
	font-weight: bold;
	font-family: "Montserrat";
	border: 0;
}

/* Default input field options */

input, textarea {
	border-radius: 6px;
	display: block;
	height: 36px;
	width: 50%;
	margin: auto auto 6px auto;
	padding: 6px;
	border: 1px solid #bdc3c7;
}

.button, button, input[type=submit] {
	cursor: pointer;
	text-transform: uppercase;
	font-size: 13px;
	font-family: "Montserrat";
	font-weight: bold;
	height: 48px;
	width: 50%;
	color: white;
	background-color: #2ecc71;
	border-radius: 6px;
	border-bottom: 6px solid #27ae60;
}

.button {
	display: block;
	text-align: center;
	margin: auto auto;
	padding: 6px;
	margin-bottom: 6px;
}

.button:hover, button:hover, input[type=submit]:hover {
	border-bottom: 6px solid #16a085;
	background-color: #1abc9c;
}

/* Footer */

.footer {
	/* Text */
	color: white;
	text-align: center;
	/* DIV Properties */
	height: 64px;
	width: 100%;
	padding: 0;
	margin: 32px auto -32px auto;
	background-color: #2ecc71;
}

/* Default heading */

h1, h2, h3, h4, h5, h6 {
	text-align:center;
	margin: 0;
	color: black;
	font-family: "Montserrat";
	font-weight: bold;
	text-transform: uppercase;
}

/* Span */

span.alizarin {
	color: #e74c3c
}

span.carrot {
	color: #e67e22;
}

span.sun-flower {
	color: #f1c40f;
}

span.wet-asphalt {
	color: #34495e;
}

span.midnight-blue {
	color: #2c3e50
}

/* Default */
a {
	color: #34495e;
	text-decoration: none;
	border-bottom: 1px dotted #34495e;
	margin: 0;
}

p {
	margin-top: 0;
}

form {
	margin: 12px;
	text-align: center;
}

ul li, p, a {
	font-size: 12px;
}



/* Main Body */

.body {
	border-radius: 6px;
	background-color: white;
	padding: 10px;
}

.body h1, h2, h3, h4, h5, h6 {
	margin-bottom: 8px;
}

/* Status */
.status {
	color: white;
	text-align: center;
	width: 300px;
	font-size: 10px;
	font-family: "Montserrat Alternates";
	font-weight: normal;
	position: relative;
	top: -55px;
	left: 700px;
}

.vote {
	text-align: center;
	display: inline-block;
	border: 0;
	margin: 0;
	padding-top: 30px;
	width: 220px;
	height: 120px;
	/* Text */

	font-size: 16px;
	font-family: "Montserrat";
	font-weight: bold;
	border-radius: 6px;
	text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.4);
}

#scheme_one {
	color: #f1c40f;
	background-color: #34495e;
}

#scheme_two {
	color: #34495e;
	background-color: #f1c40f;
}

.widget .vote {
	left: 0;
	display: block;
	margin: 0;
	width: 300px;
	border-radius: 0;
}

.widget .vote:last-child(3) {
	border-radius: 0 0 6px 6px;
}

.widget .vote a {
	font-size: 16px;
	font-weight: inherit;
	font-family: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
	border: 0;
}

.message {
	padding: 6px;
	width: 450px;
	height: 60px;
	margin: 24px auto 8px auto;
	text-align: center;
	color: white;
	border-bottom: 6px solid #7f8c8d;
	border-radius: 6px;
	background-color: white;
}

.message h3 {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
		box-sizing: content-box;
	position: relative;
	top: -24px;
	width: 140px;
	height: 32px;
	margin: 0 auto;
	color: white;
	border-radius: 6px 6px 0 0;
	background-color: #7f8c8d;
}

.message p {
	margin-top: -24px;
}

#error {
	border-bottom: 6px solid #c0392b;
	background-color: #e74c3c;
}

#error h3 {
	background-color: #e74c3c;
}

#message {
	border-bottom: 6px solid #2980b9;
	background-color: #3498db;
}

#message h3 {
	background-color: #3498db;
}

#warning {
	border-bottom: 6px solid #ddb823;
	background-color: #f1c40f;
}

#warning h3 {
	background-color: #f1c40f;
}

#success {
	background-color: #2ecc71;
	border-bottom: 6px solid #27ae60;
}

#success h3 {
	background-color: #2ecc71;
}

.text-center {
	text-align: center;
	margin: 0 auto 30px 0;
}

table {
	font-size: 16px;
	color: black;
	border-spacing: 0;
	padding: 0;
	margin: 64px 0 64px 0;
	width: 100%;
	margin: auto auto;
	background-color: white;
	border-radius: 6px;
}


tr:first-child {
	background-color: #37d078;
}

td:first-child {
	padding-left: 6px;
	text-align: left;
	width: 10%;
}

td {
	text-align: center;
	width: 65%;
}

td:last-child {
	padding-right: 6px;
	width: 15%;
}

tr:first-child td:first-child {
	border-radius: 6px 0 0 0 ;
}

tr:first-child td:last-child {
	border-radius: 0 6px 0 0 ;
}

tr:nth-child(1n+2):hover {
	background-color: #ecf0f1;
}

tr:last-child td:first-child {
	border-radius: 0 0 0 6px;
}

tr:last-child td:last-child {
	border-radius: 0 0 6px 0;
}

tr {
	padding: 0;
	margin: 0;
	text-align:center;
	border-bottom: 1px solid white;
}

.tooltip {
	height: 32px;
	width: 200px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 6px;
}